name: git_test
on: [push]
jobs:
  git_test:
    runs-on: ubuntu-20.04
    steps:
      - run:  |
          echo *** LOAD ***
          sudo mkdir -p C:\Users\YM\OneDrive - skuniv.ac.kr\바탕 화면\git_test\
          sudo git clone https://github.com/youngmanpark/git_test.git C:\Users\YM\OneDrive - skuniv.ac.kr\바탕 화면\git_test\
          cd C:\Users\YM\OneDrive - skuniv.ac.kr\바탕 화면\git_test\
          echo *** LOAD ***
        
          echo *** INSTALL ***
          sudo apt-get update
          sudo spt intsall python3-pip
          sudo apt install python3-pytest
        
          echo *** INSTALL ***
        
          echo *** TEST ***
          pytest-3 test_bench.py --disable-warnings
          echo *** TEST ***
